@font-face {
  font-family: metropolis-b;
  src: url(../font/Metropolis-Black.otf); }
@font-face {
  font-family: metropolis-l;
  src: url(../font/Metropolis-light.otf); }
@font-face {
  font-family: metropolis-m;
  src: url(../font/Metropolis-Medium.otf); }
@media screen and (max-width: 991px) {
  .header-up {
    padding: 30px 100px; }
    .header-up .logo-header {
      display: block;
      margin: 15px auto !important; }
      .header-up .logo-header img {
        display: block;
        margin: 0 auto; }
    .header-up .state-look {
      align-items: center; } }
@media screen and (max-width: 520px) {
  .header-up {
    padding: 30px 25px; }
    .header-up .state-look .nav-search ul li {
      padding: 0 14px !important; }
      .header-up .state-look .nav-search ul li a {
        font-size: 13px; } }

@media screen and (max-width: 1340px) {
  .navbar ul li {
    margin: 0 15px;
    transition: 0.5s all ease-in-out; } }
@media screen and (max-width: 1230px) {
  .navbar ul li {
    margin: 0 10px;
    font-size: 13px;
    transition: 0.5s all ease-in-out; } }
.navbar button {
  margin-right: 15px; }

@media screen and (max-width: 991px) {
  .carousel-item {
    min-height: 500px !important; }
    .carousel-item img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important; } }
@media screen and (max-width: 768px) {
  .carousel-item {
    min-height: 380px !important; }
    .carousel-item img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important; } }

@media screen and (max-width: 768px) {
  .carousel-caption {
    top: 30px; }
    .carousel-caption h2 {
      font-size: 56px; } }
@media screen and (max-width: 600px) {
  .carousel-caption {
    margin-left: 40px !important;
    top: 20px; }
    .carousel-caption h2 {
      font-size: 48px; }
    .carousel-caption p {
      font-size: 14px; } }
@media screen and (max-width: 425px) {
  .carousel-caption {
    top: 20px;
    margin-left: 20px !important; }
    .carousel-caption h2 {
      font-size: 30px !important; }
    .carousel-caption .btn {
      height: 39px;
      font-size: 15px; }
    .carousel-caption p {
      font-size: 14px; } }

@media screen and (max-width: 425px) {
  .vineta .box-arrow {
    width: 269px !important; }
    .vineta .box-arrow h5 {
      font-size: 11px !important;
      margin-right: 0; } }

@media screen and (max-width: 1680px) {
  .news-section .head img {
    width: 200px;
    transition: 0.5s; } }
@media screen and (max-width: 1500px) {
  .news-section .head img {
    width: 150px; } }
@media screen and (max-width: 1325px) {
  .news-section .head {
    flex-direction: column !important;
    flex-flow: column !important;
    flex: 1 1 auto;
    min-height: 450px; }
    .news-section .head img {
      width: 100%;
      max-width: 100% !important;
      margin-bottom: 10px; }
    .news-section .head .child-2 {
      min-height: 150px;
      height: auto; } }
@media screen and (max-width: 991px) {
  .news-section .news-card-2 {
    display: none; } }

@media screen and (max-width: 991px) {
  .news .news-card {
    display: none; } }
@media screen and (max-width: 1540px) {
  .news .news-card-2 .head {
    height: 310px; }
    .news .news-card-2 .head .child-1 img {
      max-width: 288px;
      height: 100%;
      object-fit: cover; } }
    @media screen and (max-width: 1540px) and (max-width: 1408px) {
      .news .news-card-2 .head .child-1 img {
        width: 200px;
        height: 100%;
        object-fit: cover; } }

@media screen and (max-width: 1200px) {
  .news .news-card-2 .head {
    height: auto;
    flex-direction: column;
    flex-flow: column wrap; }
    .news .news-card-2 .head .child-1 img {
      max-width: 100%;
      width: 100% !important; }
    .news .news-card-2 .head .child-2 {
      margin-top: 15px;
      padding-left: 0px;
      height: 230px; } }
@media screen and (max-width: 991px) {
  .news .news-card-2 {
    flex-direction: row;
    flex-flow: row wrap;
    flex: 1 1 auto;
    float: left;
    width: 45%;
    margin-right: 25px;
    margin-bottom: 15px; }
    .news .news-card-2 .btn-hv {
      position: relative !important; }
      .news .news-card-2 .btn-hv .btn {
        width: 100%; } }
@media screen and (max-width: 620px) {
  .news .news-card-2 {
    float: none;
    width: 100%; } }
@media screen and (max-width: 991px) {
  .news {
    position: relative; }
    .news .btn-for-top {
      display: none; }
    .news .btn-for-bottom {
      display: block;
      width: 100%;
      background-color: black;
      color: #E49C24; }
      .news .btn-for-bottom::before {
        background-color: #E49C24 !important;
        color: black; }
      .news .btn-for-bottom:hover {
        color: black !important; }
    .news h1 {
      font-size: 26px; }
    .news .col-resp {
      margin-left: 22px; } }
    @media screen and (max-width: 991px) and (max-width: 620px) {
      .news .col-resp {
        margin-left: 0px; } }
@media screen and (max-width: 991px) {
    .news .embed-twiiter {
      display: none; }
    .news .title-button {
      padding-bottom: 15px;
      flex-direction: column; }
      .news .title-button .btn {
        width: 100%; } }

@media screen and (max-width: 991px) {
  .estadisticas-regulatorias .title h2 {
    font-size: 20px; }
  .estadisticas-regulatorias .title .big-version {
    font-size: 26px;
    margin-top: 0px; }
  .estadisticas-regulatorias .btn {
    width: 100% !important; } }

@media screen and (max-width: 1100px) {
  .news-section .card-info {
    height: auto; }
    .news-section .card-info::before {
      height: 100vh; } }
@media screen and (max-width: 991px) {
  .news-section .card-info:hover {
    transform: scale(1) !important; } }
@media screen and (max-width: 768px) {
  .news-section .card-info {
    flex-flow: column;
    flex-direction: column;
    align-items: flex-start;
    position: relative; }
    .news-section .card-info .title-button {
      position: absolute;
      bottom: 20px;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
    .news-section .card-info .text-field {
      margin-left: 0px;
      margin-top: 20px;
      margin-bottom: 20px; } }
@media screen and (max-width: 500px) {
  .news-section .card-info .title-button .btn {
    width: 300px;
    margin-left: 0; } }
@media screen and (max-width: 400px) {
  .news-section .card-info .title-button .btn {
    width: 250px; } }
@media screen and (max-width: 350px) {
  .news-section .card-info .title-button .btn {
    width: 199px; }
  .news-section .card-info h1 {
    font-size: 22px; } }

@media screen and (max-width: 991px) {
  .values .card-info,
  .values .card-info-2 {
    margin-bottom: 30px;
    padding: 15px; } }

@media screen and (max-width: 1300px) {
  .about-cnc .news-card-2 {
    height: 250px; }
    .about-cnc .news-card-2 .head .child-1 img {
      height: 250px;
      object-fit: cover; } }
@media screen and (max-width: 991px) {
  .about-cnc {
    margin-bottom: 0; }
    .about-cnc .title,
    .about-cnc .news-card-2 {
      display: none; } }
@media screen and (max-width: 991px) {
  .about-cnc .left-side img {
    display: block;
    margin: 0 auto; }
  .about-cnc .left-side p {
    text-align: justify; }
  .about-cnc .left-side .btn {
    width: 100%; } }

@media screen and (max-width: 1300px) {
  .parallax .all-side .sides {
    padding: 30px;
    width: 50%; }
    .parallax .all-side .sides h4 {
      font-size: 34px; }
    .parallax .all-side .sides h3 {
      font-size: 56px; } }
@media screen and (max-width: 991px) {
  .parallax {
    display: none; } }

@media screen and (max-width: 1500px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 23px; } }
@media screen and (max-width: 1200px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 6px; } }
@media screen and (max-width: 991px) {
  .organizaciones .container {
    width: 86% !important; }
    .organizaciones .container img {
      height: 100%; } }
@media screen and (max-width: 890px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: -4px; } }
@media screen and (max-width: 768px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: -16px; } }
@media screen and (max-width: 600px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 45px; } }
@media screen and (max-width: 500px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 30px; } }
@media screen and (max-width: 426px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 18px; } }
@media screen and (max-width: 320px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: -12px; } }

@media screen and (max-width: 1100px) {
  .footer .item {
    margin-bottom: 60px; }
    .footer .item img {
      margin-bottom: 20px; }
  .footer h5 {
    font-size: 16px !important;
    margin: 0 5px; } }
@media screen and (max-width: 500px) {
  .footer .item {
    margin-bottom: 20px; }
  .footer .item-4 {
    width: 100%;
    text-align: center;
    margin-top: 40px; }
    .footer .item-4 h5 {
      color: #E49C24; }
    .footer .item-4 .btn {
      width: 100%;
      border: none;
      border-radius: 0; }
  .footer .item-5 {
    width: 100%;
    align-items: center; }
    .footer .item-5 .social img {
      margin: 0 5px; } }

@media screen and (max-width: 991px) {
  #app .menu-responsive {
    background: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -4;
    transition: 0.2s all ease-in-out; }
    #app .menu-responsive .bg-close {
      width: 100%;
      height: 100vh;
      background: transparent;
      position: absolute;
      z-index: -1; }
    #app .menu-responsive ul {
      background-color: #E49C24;
      width: 250px;
      margin-left: -251px;
      height: 100%;
      position: fixed;
      z-index: 99999; }
      #app .menu-responsive ul li {
        padding-left: 15px;
        list-style-type: none;
        font-family: metropolis-m;
        margin-bottom: 25px;
        padding-bottom: 25px; }
        #app .menu-responsive ul li a {
          color: black; }
        #app .menu-responsive ul li:hover {
          border-bottom: solid 3px white;
          transition: 0.1s all ease-in-out; }
        #app .menu-responsive ul li img {
          margin-top: 60px;
          width: 80%; }
    #app .menu-responsive .close {
      margin-right: 15px;
      margin-top: 60px;
      color: #E49C24;
      z-index: 99999;
      opacity: 1;
      cursor: pointer !important;
      text-shadow: none;
      font-family: metropolis-b;
      font-size: 30px; }
    #app .menu-responsive .fas {
      cursor: pointer !important; }
  #app .active-nav {
    opacity: 1 !important;
    z-index: 9999;
    transition: 0.1s all ease-in-out; }
    #app .active-nav ul {
      margin-left: 0px !important;
      transition: 0.2s ease-in-out; } }

/*# sourceMappingURL=responsive.css.map */
