@font-face {
  font-family: metropolis-b;
  src: url(../font/Metropolis-Black.otf); }
@font-face {
  font-family: metropolis-l;
  src: url(../font/Metropolis-light.otf); }
@font-face {
  font-family: metropolis-m;
  src: url(../font/Metropolis-Medium.otf); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #EDEDED;
  font-family: metropolis-l; }

#app {
  position: relative; }

.active-txt {
  transform: scale(1.1) !important;
  z-index: 999 !important;
  background-color: #E49C24 !important;
  border-left: solid 8px black !important;
  -webkit-box-shadow: 11px 13px 21px -1px rgba(0, 0, 0, 0.41) !important;
  -moz-box-shadow: 11px 13px 21px -1px rgba(0, 0, 0, 0.41) !important;
  box-shadow: 11px 13px 21px -1px rgba(0, 0, 0, 0.41) !important; }
  .active-txt .btn {
    background: white !important; }
  .active-txt:hover {
    width: 100% !important; }

.title {
  display: flex;
  flex-direction: column;
  border-left: solid 12px #E49C24;
  padding-left: 15px;
  margin-top: 30px; }
  .title h2 {
    font-size: 27px;
    font-family: metropolis-l; }
  .title .big-version {
    font-size: 35px;
    font-family: metropolis-b;
    color: #E49C24; }

.btn-guest {
  background-color: #E49C24;
  border: none;
  border-radius: 0;
  font-weight: bold;
  color: white;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .btn-guest:before {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 100%;
    bottom: 0;
    background: black !important;
    height: 40px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .btn-guest:hover:before {
    right: 0; }
  .btn-guest:hover {
    color: #E49C24 !important; }

.header-up {
  padding: 10px 180px; }
  .header-up .logo-header {
    margin-top: 45px; }
  .header-up .state-look {
    display: flex;
    flex-flow: column;
    align-items: flex-end; }
    .header-up .state-look .escudo {
      margin-bottom: 15px; }
      .header-up .state-look .escudo img {
        width: 270px; }
    .header-up .state-look .search-page {
      width: 280px;
      position: relative; }
      .header-up .state-look .search-page input {
        border-radius: 28px !important;
        width: 100%; }
      .header-up .state-look .search-page .input-group-append {
        position: absolute;
        right: 0;
        height: 98%; }
        .header-up .state-look .search-page .input-group-append .btn {
          border-radius: 28px;
          border: none;
          background-color: #E49C24;
          height: 100%;
          color: white; }
    .header-up .state-look .nav-search {
      margin-right: -11px;
      transition: 0.2s; }
      .header-up .state-look .nav-search ul li {
        display: inline-block;
        border-right: solid 1px #A8A2A2;
        padding: 0 14px; }
        .header-up .state-look .nav-search ul li a {
          color: #A8A2A2;
          text-decoration: none;
          font-weight: metropolis-m; }
          .header-up .state-look .nav-search ul li a:hover {
            color: black; }
      .header-up .state-look .nav-search ul .border-none {
        border: none; }

.navbar {
  background-color: #E49C24;
  width: 100%;
  padding: 0px;
  transition: 0.2s all ease-in-out !important; }
  .navbar ul {
    margin: 0 auto;
    margin-bottom: -2px; }
    .navbar ul li {
      margin-left: 20px;
      margin-right: 20px;
      border-bottom: 2px solid  transparent;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      overflow: hidden;
      z-index: 9; }
      .navbar ul li:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: white !important;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      .navbar ul li:hover:before {
        right: 0; }
      .navbar ul li a {
        color: white !important;
        transition: 0.2s;
        font-family: metropolis-l;
        padding-bottom: 7px; }
        .navbar ul li a:hover {
          color: black !important; }
    .navbar ul .active {
      border-bottom: solid 3px white; }

.carousel-item {
  height: 600px; }
  @media screen and (max-width: 768px) {
    .carousel-item {
      height: 380px !important; } }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .carousel-item .carousel-caption {
    position: absolute;
    top: 80px;
    left: 0;
    max-width: 700px;
    margin-left: 75px;
    text-align: left; }
    .carousel-item .carousel-caption h2 {
      font-family: metropolis-b;
      font-size: 80px; }
    .carousel-item .carousel-caption .btn {
      background-color: #E49C24;
      border: none;
      border-radius: 0;
      height: 50px;
      font-family: metropolis-b;
      font-size: 20px;
      margin-bottom: 16px;
      padding: 5px 15PX; }
      .carousel-item .carousel-caption .btn:hover {
        background-color: white;
        color: #E49C24;
        transform: scale(1.1);
        transition: 0.2s; }
    .carousel-item .carousel-caption .buttons-slider {
      position: absolute;
      bottom: 50px;
      transition: 0.3s; }
      .carousel-item .carousel-caption .buttons-slider .btn {
        color: black;
        font-weight: 600;
        padding: 5px 15PX; }
        .carousel-item .carousel-caption .buttons-slider .btn:hover {
          background-color: black;
          color: #E49C24; }

.slider-control-cont {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #E49C24;
  transition: background-color 0.2s ease; }

.slider-control-cont:hover {
  background-color: black; }

.slider-control-cont .slider-control i {
  background-color: #E49C24;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  transition: background-color 0.2s ease; }

.slider-control-cont .slider-control i:hover {
  background-color: white;
  color: #E49C24; }

.slider-indicator-cont {
  position: absolute;
  top: 40%;
  z-index: 1000;
  right: 14px; }
  .slider-indicator-cont ul li {
    list-style-type: none; }

.slider-indicator-cont a.slider-indicator {
  color: #A8A2A2; }

.slider-indicator-cont a.slider-indicator:hover {
  color: #E49C24 !important; }

.slider-indicator-cont a.slider-indicator.active {
  color: #E49C24; }

.container {
  max-width: 94% !important; }

.vineta {
  background-color: #E49C24;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .vineta .box-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 50px;
    padding-right: 20px;
    max-width: 500px;
    transition: 0.6s;
    margin-left: -20px; }
    .vineta .box-arrow a {
      margin-top: 7px;
      text-decoration: none; }
      .vineta .box-arrow a h5 {
        margin-right: 15px;
        transition: 0.3s;
        font-family: metropolis-b;
        padding-top: 6px;
        font-size: 16px;
        color: #E49C24; }
        .vineta .box-arrow a h5:hover {
          margin-right: 80px; }
    .vineta .box-arrow:hover {
      width: 550px; }
  .vineta .arrow-div {
    width: 30px;
    height: 50px;
    border-left: solid 30px white;
    border-bottom: solid 30px transparent;
    border-top: solid 30px transparent;
    margin-left: 0px;
    position: relative;
    z-index: 9; }
  .vineta h5 {
    margin-left: 50px; }

.news {
  padding: 50px; }
  .news .title-button {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: solid 2px #E49C24;
    margin-bottom: 30px; }
    .news .title-button .btn {
      width: 170px;
      height: 40px;
      border-radius: 0;
      border: none;
      background: #E49C24;
      color: black;
      font-weight: bold;
      transition: 0.3s; }
      .news .title-button .btn:hover {
        background-color: black;
        color: #E49C24;
        transform: scale(1.1); }
    .news .title-button .title {
      font-family: metropolis-b;
      margin-top: 0; }
  .news .news-card img {
    width: 100%; }
  .news .news-card h3 {
    margin-top: 15px;
    color: #E49C24; }
  .news .news-card .usuario-txt {
    font-family: metropolis-m; }
  .news .news-card .date-text {
    margin-left: 20px; }
  .news .news-card p {
    font-family: metropolis-l;
    text-align: justify; }
  .news .news-card-2 {
    margin-bottom: 30px; }
    .news .news-card-2 .head {
      display: flex;
      flex-direction: row;
      flex-flow: row nowrap;
      word-wrap: break-word;
      flex: 1 12 auto; }
      .news .news-card-2 .head img {
        max-width: 334px; }
      .news .news-card-2 .head .child-2 {
        padding-left: 15px;
        position: relative; }
        .news .news-card-2 .head .child-2 h3 {
          font-size: 21px; }
        .news .news-card-2 .head .child-2 .usuario-txt {
          font-family: metropolis-m; }
        .news .news-card-2 .head .child-2 .date-text {
          margin-left: 20px; }
        .news .news-card-2 .head .child-2 p {
          font-family: metropolis-l;
          text-align: justify;
          font-size: 12px; }
        .news .news-card-2 .head .child-2 .btn-hv {
          position: absolute;
          bottom: 0; }
  .news .btn-for-bottom {
    display: none; }

.embed-twitter {
  overflow: hidden; }
  .embed-twitter a {
    max-width: 100%; }

.estadisticas-regulatorias {
  position: relative;
  margin-bottom: 60px; }
  .estadisticas-regulatorias .title {
    display: flex;
    flex-direction: column;
    border-left: solid 12px #E49C24;
    padding-left: 15px;
    margin-top: 30px; }
    .estadisticas-regulatorias .title h2 {
      font-size: 27px;
      font-family: metropolis-l; }
    .estadisticas-regulatorias .title .big-version {
      font-size: 35px;
      font-family: metropolis-b;
      color: #E49C24; }
  .estadisticas-regulatorias .news-card {
    margin-top: 30px;
    position: relative; }
    .estadisticas-regulatorias .news-card img {
      width: 100%;
      height: 400px;
      object-fit: cover; }
    .estadisticas-regulatorias .news-card p {
      margin-top: 30px;
      font-size: 20px;
      text-align: justify; }
    .estadisticas-regulatorias .news-card .btn {
      margin-top: 30px;
      float: right; }

.news-section {
  padding-top: 60px; }
  .news-section h3 {
    font-family: metropolis-b;
    margin-bottom: 30px; }
  .news-section .card-info {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    background-color: white;
    padding: 30px;
    border-left: solid 8px #E49C24;
    align-items: center;
    height: 270px;
    margin-bottom: 40px;
    cursor: pointer;
    -webkit-box-shadow: 4px 5px 17px -1px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 4px 5px 17px -1px rgba(0, 0, 0, 0.16);
    box-shadow: 4px 5px 17px -1px rgba(0, 0, 0, 0.16);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden; }
    .news-section .card-info h1 {
      font-family: metropolis-b; }
    .news-section .card-info .title-button .btn {
      width: 100%; }
    .news-section .card-info .text-field {
      max-width: 700px;
      word-wrap: break-word;
      margin-left: 25px; }
    .news-section .card-info:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      bottom: 0;
      background: #E49C24 !important;
      height: 270px;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    .news-section .card-info:hover:before {
      right: 0; }
    .news-section .card-info:hover {
      width: 100%;
      border-left: solid 8px black;
      -webkit-box-shadow: 11px 13px 21px -1px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: 11px 13px 21px -1px rgba(0, 0, 0, 0.41);
      box-shadow: 11px 13px 21px -1px rgba(0, 0, 0, 0.41);
      transition: all 0.2s !important;
      z-index: 999;
      color: white; }
      .news-section .card-info:hover .btn {
        color: #E49C24;
        background-color: white; }
  .news-section .news-card-2 {
    margin-bottom: 30px;
    border-bottom: solid 1px #9F9F9F;
    padding-bottom: 30px;
    min-height: 208px; }
    .news-section .news-card-2 .head {
      display: flex;
      flex-direction: row;
      flex-flow: row nowrap;
      word-wrap: break-word;
      flex: 1 12 auto;
      min-height: 208px; }
      .news-section .news-card-2 .head img {
        max-width: 247px;
        min-height: 208px;
        object-fit: cover; }
      .news-section .news-card-2 .head .child-2 {
        padding-left: 15px;
        position: relative; }
        .news-section .news-card-2 .head .child-2 h3 {
          font-size: 20px;
          font-family: metropolis-m;
          margin-bottom: 7px; }
        .news-section .news-card-2 .head .child-2 .usuario-txt {
          font-family: metropolis-m; }
        .news-section .news-card-2 .head .child-2 .date-text {
          margin-left: 20px; }
        .news-section .news-card-2 .head .child-2 p {
          font-family: metropolis-l;
          text-align: justify;
          font-size: 12px;
          margin-bottom: 40px; }
        .news-section .news-card-2 .head .child-2 .btn-hv {
          position: absolute;
          bottom: 0; }

.values {
  background-color: #E49C24;
  padding-top: 30px;
  padding-bottom: 30px; }
  .values .title-button {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: solid 2px white;
    margin-bottom: 30px; }
    .values .title-button h1 {
      color: white; }
    .values .title-button .btn {
      width: 170px;
      height: 40px;
      border-radius: 0;
      border: none;
      background: white !important;
      color: #E49C24;
      font-weight: bold;
      transition: 0.3s;
      font-family: metropolis-m; }
      .values .title-button .btn:hover {
        background-color: black;
        color: #E49C24;
        transform: scale(1.1); }
    .values .title-button .title {
      font-family: metropolis-b;
      margin-top: 0; }
  .values .card-info {
    background-color: white;
    padding: 25px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms; }
    .values .card-info:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition: 0.3 ease-out;
      transition: 0.3s ease-out; }
    .values .card-info:hover:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); }
      .values .card-info:hover:before p {
        transition: 0.1s; }
    .values .card-info:hover {
      color: white; }
      .values .card-info:hover h1 {
        color: #E49C24; }
      .values .card-info:hover .divider {
        background-color: #E49C24; }
    .values .card-info h1 {
      font-family: metropolis-b;
      align-self: flex-start; }
    .values .card-info .divider {
      height: 1px;
      background-color: black;
      width: 100%;
      display: block;
      margin: 5px auto;
      margin-bottom: 20px; }
  .values .card-info-2 {
    background-color: transparent;
    color: white; }
    .values .card-info-2 .title-box {
      align-self: flex-start;
      color: white; }
      .values .card-info-2 .title-box .top {
        font-family: metropolis-l; }
      .values .card-info-2 .title-box .bottom {
        font-family: metropolis-m;
        margin-left: 60px;
        margin-top: -10px; }
      .values .card-info-2 .title-box h1 {
        font-size: 84px;
        color: white;
        font-family: metropolis-b; }

.about-cnc {
  padding-bottom: 60px; }
  .about-cnc .container {
    margin-top: 80px; }
    .about-cnc .container .title {
      font-family: metropolis-b;
      font-size: 35px;
      border-left: none;
      padding-left: 0px;
      margin-top: 0; }
    .about-cnc .container .left-side {
      display: block;
      margin: 0 auto; }
      .about-cnc .container .left-side img {
        width: 70%; }
      .about-cnc .container .left-side p {
        max-width: 660px; }
    .about-cnc .container .title {
      max-width: 642px; }
    .about-cnc .container .btn-alone {
      width: 386px;
      height: 67px;
      font-family: metropolis-b;
      color: white; }
      .about-cnc .container .btn-alone::before {
        height: 67px; }
    .about-cnc .container .news-card-2 {
      margin-top: 20px;
      margin-bottom: 30px; }
      .about-cnc .container .news-card-2 .head {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        word-wrap: break-word;
        flex: 1 12 auto; }
        .about-cnc .container .news-card-2 .head img {
          width: 100%; }
        .about-cnc .container .news-card-2 .head .child-2 {
          padding-left: 15px;
          position: relative; }
          .about-cnc .container .news-card-2 .head .child-2 .title {
            font-size: 21px;
            margin-top: 0; }
          .about-cnc .container .news-card-2 .head .child-2 .usuario-txt {
            font-family: metropolis-m; }
          .about-cnc .container .news-card-2 .head .child-2 .date-text {
            margin-left: 20px; }
          .about-cnc .container .news-card-2 .head .child-2 h3 {
            font-size: 20px;
            font-family: metropolis-m; }
          .about-cnc .container .news-card-2 .head .child-2 h5 {
            font-size: 17px; }
          .about-cnc .container .news-card-2 .head .child-2 p {
            font-family: metropolis-l;
            text-align: justify;
            font-size: 12px; }
          .about-cnc .container .news-card-2 .head .child-2 .btn-hv {
            position: absolute;
            bottom: 0; }

.organizaciones {
  background-color: #E49C24;
  padding: 30px; }
  .organizaciones .title-box {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: solid 2px white; }
    .organizaciones .title-box h2 {
      font-family: metropolis-b;
      color: white; }
  .organizaciones .owl-prev span {
    left: -73px;
    position: absolute;
    /* left: 0; */
    font-size: 80px;
    width: 88px;
    top: 50px; }
  .organizaciones .owl-next span {
    right: -73px;
    position: absolute;
    /* left: 0; */
    font-size: 80px;
    width: 88px;
    top: 50px; }

.footer {
  background-color: #3F4146;
  padding-top: 90px;
  padding-bottom: 30px;
  color: white; }
  .footer .content {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between; }
    .footer .content .item {
      display: flex;
      flex-direction: column;
      color: white; }
      .footer .content .item h5 {
        font-family: metropolis-l;
        font-size: 21px; }
      .footer .content .item a {
        font-size: 14px;
        color: white;
        text-decoration: none;
        margin-top: 15px;
        text-transform: capitalize !important; }
    .footer .content .item-0 {
      order: 1; }
    .footer .content .item-1 {
      order: 2; }
    .footer .content .item-2 {
      order: 3; }
    .footer .content .item-3 {
      order: 4; }
    .footer .content .item-4 {
      order: 5; }
    .footer .content .item-5 {
      order: 6; }
    .footer .content .item-5 .social {
      display: flex;
      flex-flow: row wrap;
      flex-direction: row !important;
      justify-content: space-between; }
      .footer .content .item-5 .social img {
        margin-top: 15px; }
  .footer .divider {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 60px; }
  .footer .btn {
    max: 80px;
    border-radius: 30px;
    font-size: 12px;
    background-color: #E49C24;
    color: black;
    align-self: flex-start;
    margin-top: 30px; }
  .footer .sub-footer {
    margin-top: 60px; }
    .footer .sub-footer img {
      margin-bottom: 30px; }
    .footer .sub-footer a {
      margin-top: -5px;
      color: #E49C24;
      text-decoration: none; }

.copy {
  background-color: #E49C24;
  text-align: center; }
  .copy .txt p {
    margin-bottom: 0; }

.parallax .all-side {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  margin-top: 180px; }
  .parallax .all-side .sides {
    padding: 75px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 50%; }
    .parallax .all-side .sides h4 {
      font-size: 25px;
      font-family: metropolis-l;
      color: white; }
    .parallax .all-side .sides h3 {
      font-family: metropolis-b;
      font-size: 30px;
      color: white; }
    .parallax .all-side .sides p {
      font-size: 20px;
      font-family: metropolis-l;
      color: white; }
  .parallax .all-side .left-side {
    background-image: url(../assets/img/parallax-1.jpg); }
  .parallax .all-side .right-side {
    background-image: url(../assets/img/paralllax-2.jpg); }

.definition {
  position: relative;
  min-height: 792px; }
  .definition .title {
    padding-top: 22px; }
  .definition p {
    font-size: 18px; }
  .definition .info-img {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: center; }
    .definition .info-img .txt {
      background-color: #E49C24;
      padding: 44px;
      min-height: 213px; }
      .definition .info-img .txt p {
        color: white;
        font-family: metropolis-m; }
  .definition .card {
    padding: 35px; }
    .definition .card .tag {
      background-color: #E49C24;
      padding: 7px 14px;
      position: absolute;
      top: 35px;
      right: 35px; }
    .definition .card img {
      width: 100%;
      height: 318px;
      object-fit: cover; }
    .definition .card .card-body {
      padding-left: 0;
      padding-right: 0;
      text-align: justify; }

.tag-caption {
  position: absolute;
  top: 210px;
  color: white;
  font-size: 12px;
  padding: 15px; }

.slide-noticas .carousel-item .carousel-caption {
  top: initial;
  bottom: 35px; }
  .slide-noticas .carousel-item .carousel-caption h2 {
    font-size: 50px !important; }
  .slide-noticas .carousel-item .carousel-caption ul li {
    display: inline-block;
    margin-right: 20px;
    list-style-type: none; }

.posts {
  margin-top: 40px; }
  .posts .container .big-version {
    color: black; }
  .posts .container .row {
    margin-top: 40px; }
  .posts .container .item {
    position: relative;
    min-height: 250px; }
    .posts .container .item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute; }
    .posts .container .item .title {
      position: absolute;
      bottom: 10px;
      left: 25px;
      color: white;
      font-family: metropolis-b;
      width: 226px;
      border-left: none; }
    .posts .container .item a {
      background-color: #E49C24;
      color: white;
      padding: 7px 18px;
      position: absolute;
      right: 0;
      bottom: 0; }

.noticias-4 {
  margin-bottom: 30px; }
  .noticias-4 .sides {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    width: 100%; }
    .noticias-4 .sides .n-side {
      position: relative;
      min-height: 495px;
      flex: 1 1 auto;
      overflow: hidden; }
      .noticias-4 .sides .n-side .content {
        padding-left: 35px;
        margin-top: 20%;
        position: relative;
        z-index: 2; }
      .noticias-4 .sides .n-side .btn {
        margin-bottom: 50px; }
      .noticias-4 .sides .n-side p {
        color: white;
        font-size: 30px;
        width: 253px; }
      .noticias-4 .sides .n-side ul {
        margin-top: 110px; }
        .noticias-4 .sides .n-side ul li {
          display: inline-block;
          list-style-type: none;
          color: white;
          margin-right: 15px; }
      .noticias-4 .sides .n-side .bg {
        width: 100%;
        height: 108%;
        object-fit: cover;
        position: absolute;
        top: 0;
        overflow: hidden;
        transition: 0.5s all ease-in-out; }
        .noticias-4 .sides .n-side .bg:hover {
          transform: scale(1.1) !important;
          transition: 0.5s all ease-in-out; }

.vineta-noticias {
  background-color: transparent; }
  .vineta-noticias .box-arrow {
    background-color: #E49C24;
    color: white; }
    .vineta-noticias .box-arrow a h5 {
      color: white; }
  .vineta-noticias .arrow-div {
    border-left: solid 30px #E49C24;
    border-bottom: solid 30px transparent;
    border-top: solid 30px transparent; }

.enlaces-anteriores {
  margin-bottom: 80px; }
  .enlaces-anteriores .left-side .row {
    margin-bottom: 40px;
    border-bottom: solid 1px #E49C24;
    padding-bottom: 15px; }
  .enlaces-anteriores .left-side .row:nth-child(2) {
    border-bottom: none; }
  .enlaces-anteriores .left-side img {
    width: 100%; }
  .enlaces-anteriores .left-side .txt {
    height: auto; }
    .enlaces-anteriores .left-side .txt h3 {
      font-family: metropolis-b; }
    .enlaces-anteriores .left-side .txt .description {
      position: absolute;
      bottom: 0;
      right: 0; }
    .enlaces-anteriores .left-side .txt .description {
      color: #E49C24; }
  .enlaces-anteriores .nav-tabs {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    background-color: white; }
    .enlaces-anteriores .nav-tabs a {
      width: 100%;
      text-align: center;
      padding: 7px;
      color: #E49C24;
      border: solid 1px #A8A2A2;
      border-radius: 0; }
    .enlaces-anteriores .nav-tabs .active {
      border-bottom: solid 3px #E49C24; }
  .enlaces-anteriores .tab-content {
    background-color: white;
    padding: 25px; }
    .enlaces-anteriores .tab-content .row {
      margin-bottom: 30px; }
    .enlaces-anteriores .tab-content .left-side {
      max-width: 500px; }
    .enlaces-anteriores .tab-content h3 {
      max-width: 400px;
      font-family: metropolis-b; }
    .enlaces-anteriores .tab-content a {
      float: right;
      color: #E49C24; }
    .enlaces-anteriores .tab-content img {
      width: 100%; }

.regulatorias-original-section {
  margin-top: 85px; }

.busqueda {
  height: auto !important; }
  .busqueda h3 {
    font-size: 35px;
    font-family: metropolis-b; }
  .busqueda .tabla-filtro {
    background-color: white;
    padding: 30px; }
    .busqueda .tabla-filtro select {
      background-color: transparent;
      background-image: none;
      padding-bottom: 0; }
      .busqueda .tabla-filtro select option {
        font-weight: bold; }
      .busqueda .tabla-filtro select::before {
        box-shadow: none !important; }
    .busqueda .tabla-filtro .input-group-append {
      position: absolute;
      right: 0;
      z-index: 1;
      height: 100%; }
      .busqueda .tabla-filtro .input-group-append label {
        background-color: #E49C24;
        color: white;
        height: 100%; }
    .busqueda .tabla-filtro .buscador {
      max-width: 435px;
      float: right; }
      .busqueda .tabla-filtro .buscador .input-group {
        position: relative;
        height: 100%; }
        .busqueda .tabla-filtro .buscador .input-group .input-group-prepend {
          position: absolute;
          z-index: 2;
          right: 0;
          height: 100%; }
          .busqueda .tabla-filtro .buscador .input-group .input-group-prepend .input-group-text {
            background-color: #E49C24;
            color: white; }
      .busqueda .tabla-filtro .buscador input {
        border-radius: 0px;
        border: none;
        webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
        -moz-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
        box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34); }
    .busqueda .tabla-filtro table {
      margin-top: 85px;
      border: none; }
      .busqueda .tabla-filtro table tbody {
        width: 100%; }
        .busqueda .tabla-filtro table tbody .free-td {
          float: right;
          margin-right: 20px; }
          .busqueda .tabla-filtro table tbody .free-td img {
            margin-right: 20px; }
    .busqueda .tabla-filtro nav {
      margin-top: 80px; }
      .busqueda .tabla-filtro nav li {
        margin: 10px;
        height: 50px;
        width: 50px;
        text-align: center; }
        .busqueda .tabla-filtro nav li a {
          border-radius: 300px !important;
          background-color: #E49C24;
          color: white;
          height: 50px;
          width: 50px;
          border: none;
          font-size: 20px;
          padding-top: 14px;
          webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
          -moz-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34); }
        .busqueda .tabla-filtro nav li .active {
          background-color: white;
          color: #E49C24; }

.filtros-decreto {
  display: block;
  margin: 0 auto;
  max-width: 1470px;
  padding: 30px; }
  .filtros-decreto .row {
    margin-bottom: 30px; }
  .filtros-decreto .buscador {
    height: 45px; }
    .filtros-decreto .buscador .input-group {
      position: relative;
      height: 100%; }
      .filtros-decreto .buscador .input-group .input-group-prepend {
        position: absolute;
        z-index: 5;
        right: 0;
        height: 100%;
        width: 75px; }
        .filtros-decreto .buscador .input-group .input-group-prepend .input-group-text {
          width: 100%;
          font-size: 34px;
          text-align: center;
          background-color: #E49C24;
          color: white; }
    .filtros-decreto .buscador input {
      border-radius: 0px;
      border: none;
      height: 100%;
      width: 100%;
      font-size: 18px;
      webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
      -moz-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
      box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34); }
  .filtros-decreto .dropdown {
    margin-top: 30px;
    height: 74px; }
    .filtros-decreto .dropdown .btn {
      width: 100%;
      height: 100%;
      border-radius: 0;
      background-color: white;
      border: none;
      border-left: solid 5px #E49C24;
      color: #A8A2A2;
      text-align: left !important;
      font-size: 18px; }
      .filtros-decreto .dropdown .btn:focus {
        box-shadow: none; }
    .filtros-decreto .dropdown .dropdown-menu {
      width: 100%;
      transition: 0.5s all ease-in-out; }

.tabla-decreto {
  max-width: 1470px;
  min-height: 650px;
  display: block;
  margin: 60px auto 100px auto;
  padding: 30px; }
  .tabla-decreto .table {
    width: 100%;
    border-bottom: solid 15px #E49C24;
    background-color: white; }
    .tabla-decreto .table thead {
      background-color: #E49C24;
      min-height: 144px; }
      .tabla-decreto .table thead tr th {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
        border-right: solid 1px white; }
  .tabla-decreto nav {
    float: right;
    margin-top: 40px; }
    .tabla-decreto nav li {
      margin: 10px;
      height: 50px;
      width: 50px;
      text-align: center; }
      .tabla-decreto nav li a {
        border-radius: 300px !important;
        background-color: #E49C24;
        color: white;
        height: 50px;
        width: 50px;
        border: none;
        font-size: 20px;
        padding-top: 14px;
        webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
        -moz-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
        box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34); }
      .tabla-decreto nav li .active {
        background-color: white;
        color: #E49C24; }

.consulta-publica-down p {
  text-align: justify;
  font-size: 20px; }
.consulta-publica-down .links {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex: 1 1 auto;
  min-height: 280px;
  margin-bottom: 80px; }
  .consulta-publica-down .links .regulaciones {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin: 3px; }
  .consulta-publica-down .links .tamites {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin: 3px; }
  .consulta-publica-down .links .title {
    border-left: none; }
  .consulta-publica-down .links h1 {
    color: black; }
  .consulta-publica-down .links .btn {
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
    font-family: metropolis-l; }
    .consulta-publica-down .links .btn::before {
      height: 100%; }

.info-book {
  max-width: 1470px;
  margin: 40px auto;
  background-color: white;
  webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34); }
  .info-book .title {
    background-color: #E49C24;
    height: auto;
    padding: 15px; }
    .info-book .title h1 {
      color: white;
      font-size: 35px;
      margin-top: 0;
      max-width: 230px;
      font-family: metropolis-m; }
  .info-book .enlaces {
    padding: 40px; }
    .info-book .enlaces .content {
      position: relative;
      min-height: 250px;
      text-align: justify; }
    .info-book .enlaces .btn {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 40px; }

.contactanos input {
  height: 68px;
  background-color: white;
  border-left: solid 8px #E49C24;
  border-radius: 0;
  border: none;
  font-family: metropolis-m;
  margin-bottom: 30px;
  webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34); }
.contactanos textarea {
  background-color: white;
  border-left: solid 8px #E49C24;
  border-radius: 0;
  font-family: metropolis-m;
  height: 187px;
  webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34); }
.contactanos ul li {
  list-style-type: none;
  margin-bottom: 30px;
  background-color: white;
  padding: 15px;
  border-left: 8px solid #E49C24;
  webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.34); }
  .contactanos ul li img {
    margin-right: 10px; }
  .contactanos ul li a {
    color: #E49C24; }

.menu-responsive {
  background: rgba(0, 0, 0, 0.473);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: -4;
  transition: 0.2s all ease-in-out; }
  .menu-responsive .bg-close {
    width: 100%;
    height: 100vh;
    background: transparent;
    position: fixed;
    z-index: -1; }
  .menu-responsive ul {
    background-color: #E49C24;
    width: 250px;
    margin-left: -251px;
    height: 100%;
    position: fixed;
    z-index: 99999; }
    .menu-responsive ul li {
      padding-left: 15px;
      list-style-type: none;
      font-family: metropolis-m;
      margin-bottom: 25px;
      padding-bottom: 25px; }
      .menu-responsive ul li a {
        color: black; }
      .menu-responsive ul li:hover {
        border-bottom: solid 3px white;
        transition: 0.1s all ease-in-out; }
      .menu-responsive ul li img {
        margin-top: 60px;
        width: 80%; }
  .menu-responsive .close {
    margin-right: 15px;
    margin-top: 60px;
    color: #E49C24;
    z-index: 99999;
    opacity: 1;
    cursor: pointer !important;
    text-shadow: none;
    font-family: metropolis-b;
    font-size: 30px; }
  .menu-responsive .fas {
    cursor: pointer !important; }

.slider-secundario .carousel-item {
  height: 239px !important; }
  .slider-secundario .carousel-item h2 {
    font-size: 48px !important;
    max-width: 300px; }
.slider-secundario .slider-control-cont {
  display: none !important; }
.slider-secundario .slider-indicator-cont {
  display: none; }
@media screen and (max-width: 991) {
  .slider-secundario {
    height: 239px !important; } }

.new-nav {
  position: fixed !important;
  top: 0;
  transition: 0.2s all ease-in-out !important;
  z-index: 99999;
  -webkit-box-shadow: 1px 20px 31px -17px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 20px 31px -17px rgba(0, 0, 0, 0.49);
  box-shadow: 1px 20px 31px -17px rgba(0, 0, 0, 0.49); }

@font-face {
  font-family: metropolis-b;
  src: url(../font/Metropolis-Black.otf); }
@font-face {
  font-family: metropolis-l;
  src: url(../font/Metropolis-light.otf); }
@font-face {
  font-family: metropolis-m;
  src: url(../font/Metropolis-Medium.otf); }
@media screen and (max-width: 991px) {
  .header-up {
    padding: 30px 100px; }
    .header-up .logo-header {
      display: block;
      margin: 15px auto !important; }
      .header-up .logo-header img {
        display: block;
        margin: 0 auto; }
    .header-up .state-look {
      align-items: center; } }
@media screen and (max-width: 520px) {
  .header-up {
    padding: 30px 25px; }
    .header-up .state-look .nav-search ul li {
      padding: 0 14px !important; }
      .header-up .state-look .nav-search ul li a {
        font-size: 13px; } }

@media screen and (max-width: 1340px) {
  .navbar ul li {
    margin: 0 15px;
    transition: 0.5s all ease-in-out; } }
@media screen and (max-width: 1230px) {
  .navbar ul li {
    margin: 0 10px;
    font-size: 13px;
    transition: 0.5s all ease-in-out; } }
.navbar button {
  margin-right: 15px; }

@media screen and (max-width: 991px) {
  .sliderPrincipal .carousel-inner .carousel-item img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important; } }

@media screen and (max-width: 768px) {
  .carousel-item .carousel-caption {
    top: 30px; }
    .carousel-item .carousel-caption h2 {
      font-size: 45px; }
    .carousel-item .carousel-caption .btn {
      height: 36px;
      font-size: 17px; } }
@media screen and (max-width: 600px) {
  .carousel-item .carousel-caption {
    margin-left: 40px !important;
    top: 20px; }
    .carousel-item .carousel-caption h2 {
      font-size: 48px; }
    .carousel-item .carousel-caption p {
      font-size: 14px; } }
@media screen and (max-width: 425px) {
  .carousel-item .carousel-caption {
    top: 20px;
    margin-left: 20px !important; }
    .carousel-item .carousel-caption h2 {
      font-size: 30px !important; }
    .carousel-item .carousel-caption p {
      font-size: 14px; } }

@media screen and (max-width: 425px) {
  .vineta .box-arrow {
    width: 269px !important; }
    .vineta .box-arrow h5 {
      font-size: 11px !important;
      margin-right: 0; } }

@media screen and (max-width: 1680px) {
  .news-section .head img {
    width: 200px;
    transition: 0.5s; } }
@media screen and (max-width: 1500px) {
  .news-section .head img {
    width: 150px; } }
@media screen and (max-width: 1325px) {
  .news-section .head {
    flex-direction: column !important;
    flex-flow: column !important;
    flex: 1 1 auto;
    min-height: 450px; }
    .news-section .head img {
      width: 100%;
      max-width: 100% !important;
      margin-bottom: 10px; }
    .news-section .head .child-2 {
      min-height: 150px;
      height: auto; } }
@media screen and (max-width: 991px) {
  .news-section .news-card-2 {
    display: none; } }

@media screen and (max-width: 991px) {
  .news .news-card {
    display: none; } }
@media screen and (max-width: 1540px) {
  .news .news-card-2 .head {
    height: 310px; }
    .news .news-card-2 .head .child-1 img {
      max-width: 288px;
      height: 100%;
      object-fit: cover; } }
    @media screen and (max-width: 1540px) and (max-width: 1408px) {
      .news .news-card-2 .head .child-1 img {
        width: 200px;
        height: 100%;
        object-fit: cover; } }

@media screen and (max-width: 1200px) {
  .news .news-card-2 .head {
    height: auto;
    flex-direction: column;
    flex-flow: column wrap; }
    .news .news-card-2 .head .child-1 img {
      max-width: 100%;
      width: 100% !important; }
    .news .news-card-2 .head .child-2 {
      margin-top: 15px;
      padding-left: 0px;
      height: 230px; } }
@media screen and (max-width: 991px) {
  .news .news-card-2 {
    flex-direction: row;
    flex-flow: row wrap;
    flex: 1 1 auto;
    float: left;
    width: 45%;
    margin-right: 25px;
    margin-bottom: 15px; }
    .news .news-card-2 .btn-hv {
      position: relative !important; }
      .news .news-card-2 .btn-hv .btn {
        width: 100%; } }
@media screen and (max-width: 620px) {
  .news .news-card-2 {
    float: none;
    width: 100%; } }
@media screen and (max-width: 991px) {
  .news {
    position: relative; }
    .news .btn-for-top {
      display: none; }
    .news .btn-for-bottom {
      display: block;
      width: 100%;
      background-color: black;
      color: #E49C24; }
      .news .btn-for-bottom::before {
        background-color: #E49C24 !important;
        color: black; }
      .news .btn-for-bottom:hover {
        color: black !important; }
    .news h1 {
      font-size: 26px; }
    .news .col-resp {
      margin-left: 22px; } }
    @media screen and (max-width: 991px) and (max-width: 620px) {
      .news .col-resp {
        margin-left: 0px; } }
@media screen and (max-width: 991px) {
    .news .embed-twiiter {
      display: none; }
    .news .title-button {
      padding-bottom: 15px;
      flex-direction: column; }
      .news .title-button .btn {
        width: 100%; } }

@media screen and (max-width: 991px) {
  .estadisticas-regulatorias .title h2 {
    font-size: 20px; }
  .estadisticas-regulatorias .title .big-version {
    font-size: 26px;
    margin-top: 0px; }
  .estadisticas-regulatorias .btn {
    width: 100% !important; } }

@media screen and (max-width: 1100px) {
  .news-section .card-info {
    height: auto; }
    .news-section .card-info::before {
      height: 100vh; } }
@media screen and (max-width: 991px) {
  .news-section .card-info:hover {
    transform: scale(1) !important; } }
@media screen and (max-width: 768px) {
  .news-section .card-info {
    flex-flow: column;
    flex-direction: column;
    align-items: flex-start;
    position: relative; }
    .news-section .card-info .title-button {
      position: absolute;
      bottom: 20px;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
    .news-section .card-info .text-field {
      margin-left: 0px;
      margin-top: 20px;
      margin-bottom: 20px; } }
@media screen and (max-width: 500px) {
  .news-section .card-info .title-button .btn {
    width: 300px;
    margin-left: 0; } }
@media screen and (max-width: 400px) {
  .news-section .card-info .title-button .btn {
    width: 250px; } }
@media screen and (max-width: 350px) {
  .news-section .card-info .title-button .btn {
    width: 199px; }
  .news-section .card-info h1 {
    font-size: 22px; } }

@media screen and (max-width: 991px) {
  .values .card-info,
  .values .card-info-2 {
    margin-bottom: 30px;
    padding: 15px; } }

@media screen and (max-width: 1300px) {
  .about-cnc .news-card-2 {
    height: 250px; }
    .about-cnc .news-card-2 .head .child-1 img {
      height: 250px;
      object-fit: cover; } }
@media screen and (max-width: 991px) {
  .about-cnc {
    margin-bottom: 0; }
    .about-cnc .title,
    .about-cnc .news-card-2 {
      display: none; } }
@media screen and (max-width: 991px) {
  .about-cnc .left-side img {
    display: block;
    margin: 0 auto; }
  .about-cnc .left-side p {
    text-align: justify; }
  .about-cnc .left-side .btn {
    width: 100%; } }

@media screen and (max-width: 991px) {
  .parallax {
    display: none; } }

@media screen and (max-width: 1500px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 23px; } }
@media screen and (max-width: 1200px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 6px; } }
@media screen and (max-width: 991px) {
  .organizaciones .container {
    width: 86% !important; }
    .organizaciones .container img {
      height: 100%; } }
@media screen and (max-width: 890px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: -4px; } }
@media screen and (max-width: 768px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: -16px; } }
@media screen and (max-width: 600px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 45px; } }
@media screen and (max-width: 500px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 30px; } }
@media screen and (max-width: 426px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: 18px; } }
@media screen and (max-width: 320px) {
  .organizaciones .owl-prev span,
  .organizaciones .owl-next span {
    top: -12px; } }

@media screen and (max-width: 1100px) {
  .footer .item {
    margin-bottom: 60px; }
    .footer .item img {
      margin-bottom: 20px; }
  .footer h5 {
    font-size: 16px !important;
    margin: 0 5px; } }
@media screen and (max-width: 500px) {
  .footer .item {
    margin-bottom: 20px; }
  .footer .item-4 {
    width: 100%;
    text-align: center;
    margin-top: 40px; }
    .footer .item-4 h5 {
      color: #E49C24; }
    .footer .item-4 .btn {
      width: 100%;
      border: none;
      border-radius: 0; }
  .footer .item-5 {
    width: 100%;
    align-items: center; }
    .footer .item-5 .social img {
      margin: 0 5px; } }

@media screen and (max-width: 991px) {
  #app .active-nav {
    opacity: 1 !important;
    z-index: 9999;
    transition: 0.1s all ease-in-out; }
    #app .active-nav ul {
      margin-left: 0px !important;
      transition: 0.2s ease-in-out; } }

@media screen and (max-width: 1200px) {
  .definition .info-img {
    flex-direction: column;
    flex-flow: column; }
    .definition .info-img img {
      width: 100%; } }
@media screen and (max-width: 991px) {
  .definition .info-img img {
    display: none; }
  .definition .card {
    display: none; } }

.slide-noticas img {
  width: 100%;
  height: 100%;
  object-fit: cover; }
.slide-noticas .lista-slider img {
  width: auto;
  height: auto; }
@media screen and (max-width: 991px) {
  .slide-noticas .lista-slider img {
    width: auto !important;
    height: auto !important; } }
@media screen and (max-width: 768px) {
  .slide-noticas .carousel-item .carousel-caption h2 {
    font-size: 36px !important; } }

@media screen and (max-width: 991px) {
  .posts .item {
    margin-bottom: 30px; } }

@media screen and (max-width: 1200px) {
  .noticias-4 .sides .n-side p {
    font-size: 25px; } }
@media screen and (max-width: 991px) {
  .noticias-4 .sides {
    flex-wrap: wrap; }
  .noticias-4 .n-side {
    width: 50%;
    min-height: 604px !important; }
    .noticias-4 .n-side:nth-last-child(-n+2) {
      display: none; } }
@media screen and (max-width: 500px) {
  .noticias-4 .n-side {
    width: 100%; } }

@media screen and (max-width: 991px) {
  .organizaciones {
    margin-top: 100px; } }

@media screen and (max-width: 500px) {
  .busqueda .tabla-filtro nav li {
    height: 30px;
    width: 30px; }
  .busqueda .tabla-filtro nav li a {
    height: 30px;
    width: 30px;
    padding-top: 9px;
    font-size: 12px; } }
@media screen and (max-width: 350px) {
  .busqueda .tabla-filtro nav li {
    margin: 6px; } }

@media screen and (max-width: 991px) {
  .consulta-publica-down .links {
    display: none; } }

@media screen and (max-width: 500px) {
  .tabla-decreto nav li {
    height: 30px;
    width: 30px; }
  .tabla-decreto nav li a {
    height: 30px;
    width: 30px;
    padding-top: 9px;
    font-size: 12px; } }
@media screen and (max-width: 350px) {
  .tabla-decreto nav li {
    margin: 6px; } }

/*# sourceMappingURL=style.css.map */
