@font-face {
  font-family: metropolis-b;
  src: url(../font/Metropolis-Black.otf); }
@font-face {
  font-family: metropolis-l;
  src: url(../font/Metropolis-light.otf); }
@font-face {
  font-family: metropolis-m;
  src: url(../font/Metropolis-Medium.otf); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #EDEDED;
  font-family: metropolis-l;
  font-weight: bold; }

.btn-guest {
  background-color: #FFA301;
  border: none;
  border-radius: 0;
  font-weight: bold;
  color: black;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .btn-guest:before {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 100%;
    bottom: 0;
    background: black !important;
    height: 40px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .btn-guest:hover:before {
    right: 0; }
  .btn-guest:hover {
    color: #FFA301 !important; }

.header-up {
  padding: 10px 200px; }
  .header-up .logo-header {
    margin-top: 45px; }
  .header-up .state-look {
    display: flex;
    flex-flow: column;
    align-items: flex-end; }
    .header-up .state-look .escudo {
      margin-bottom: 15px; }
      .header-up .state-look .escudo img {
        width: 270px; }
    .header-up .state-look .search-page {
      width: 280px;
      position: relative; }
      .header-up .state-look .search-page input {
        border-radius: 28px !important;
        width: 100%; }
      .header-up .state-look .search-page .input-group-append {
        position: absolute;
        right: 0;
        height: 98%; }
        .header-up .state-look .search-page .input-group-append .btn {
          border-radius: 28px;
          border: none;
          background-color: #FFA301;
          height: 100%;
          color: white; }
    .header-up .state-look .nav-search {
      margin-right: -11px;
      transition: 0.2s; }
      .header-up .state-look .nav-search ul li {
        display: inline-block;
        border-right: solid 1px #A8A2A2;
        padding: 0 14px; }
        .header-up .state-look .nav-search ul li a {
          color: #A8A2A2;
          text-decoration: none;
          font-weight: metropolis-m; }
          .header-up .state-look .nav-search ul li a:hover {
            color: black; }
      .header-up .state-look .nav-search ul .border-none {
        border: none; }

.navbar {
  background-color: #FFA301;
  width: 100%;
  padding: 0px; }
  .navbar ul {
    margin: 0 auto;
    margin-bottom: -2px; }
    .navbar ul li {
      margin: 0 20px;
      border-bottom: 2px solid  transparent;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      overflow: hidden; }
      .navbar ul li:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: white !important;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      .navbar ul li:hover:before {
        right: 0; }
      .navbar ul li a {
        color: black !important;
        transition: 0.2s;
        font-family: metropolis-l; }
        .navbar ul li a:hover {
          color: white !important; }

.carousel-item {
  height: 600px !important; }
  .carousel-item .carousel-caption {
    position: absolute;
    top: 80px;
    left: 0;
    max-width: 700px;
    margin-left: 75px;
    text-align: left; }
    .carousel-item .carousel-caption h2 {
      font-family: metropolis-b;
      font-size: 80px; }
    .carousel-item .carousel-caption .btn {
      background-color: #FFA301;
      border: none;
      border-radius: 0;
      height: 50px;
      font-family: metropolis-b;
      font-size: 20px;
      margin-bottom: 16px;
      padding: 5px 15PX; }
    .carousel-item .carousel-caption .buttons-slider {
      position: absolute;
      bottom: 50px;
      transition: 0.3s; }
      .carousel-item .carousel-caption .buttons-slider .btn {
        color: black;
        font-weight: 600;
        padding: 5px 15PX; }
        .carousel-item .carousel-caption .buttons-slider .btn:hover {
          background-color: black;
          color: #FFA301; }

.slider-control-cont {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #FFA301;
  transition: background-color 0.2s ease; }

.slider-control-cont:hover {
  background-color: black; }

.slider-control-cont .slider-control i {
  background-color: #FFA301;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  transition: background-color 0.2s ease; }

.slider-control-cont .slider-control i:hover {
  background-color: white;
  color: #FFA301; }

.slider-indicator-cont {
  position: absolute;
  top: 40%;
  z-index: 1000;
  right: 14px; }

.slider-indicator-cont a.slider-indicator {
  color: #A8A2A2; }

.slider-indicator-cont a.slider-indicator:hover {
  color: #FFA301 !important; }

.slider-indicator-cont a.slider-indicator.active {
  color: #FFA301; }

.container {
  max-width: 94% !important; }

.vineta {
  background-color: #FFA301;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .vineta .box-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 50px;
    padding-right: 20px;
    width: 500px;
    transition: 0.6s;
    margin-left: -20px; }
    .vineta .box-arrow h5 {
      margin-right: 15px;
      transition: 0.3s;
      font-family: metropolis-b;
      padding-top: 6px;
      font-size: 16px;
      color: #FFA301; }
      .vineta .box-arrow h5:hover {
        margin-right: 80px; }
    .vineta .box-arrow:hover {
      width: 550px; }
  .vineta .arrow-div {
    width: 30px;
    height: 50px;
    border-left: solid 30px white;
    border-bottom: solid 30px transparent;
    border-top: solid 30px transparent;
    margin-left: 0px; }
  .vineta h5 {
    margin-left: 50px; }

.news {
  padding: 50px; }
  .news .title-button {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: solid 2px #FFA301;
    margin-bottom: 30px; }
    .news .title-button .btn {
      width: 170px;
      height: 40px;
      border-radius: 0;
      border: none;
      background: #FFA301;
      color: black;
      font-weight: bold;
      transition: 0.3s; }
      .news .title-button .btn:hover {
        background-color: black;
        color: #FFA301;
        transform: scale(1.1); }
    .news .title-button .title {
      font-family: metropolis-b; }
  .news .news-card img {
    width: 100%; }
  .news .news-card h3 {
    margin-top: 15px;
    color: #FFA301; }
  .news .news-card .usuario-txt {
    font-family: metropolis-m; }
  .news .news-card .date-text {
    margin-left: 20px; }
  .news .news-card p {
    font-family: metropolis-l;
    text-align: justify; }
  .news .news-card-2 {
    margin-bottom: 30px; }
    .news .news-card-2 .head {
      display: flex;
      flex-direction: row;
      flex-flow: row nowrap;
      word-wrap: break-word;
      flex: 1 12 auto; }
      .news .news-card-2 .head img {
        max-width: 334px; }
      .news .news-card-2 .head .child-2 {
        padding-left: 15px;
        position: relative; }
        .news .news-card-2 .head .child-2 h3 {
          font-size: 21px; }
        .news .news-card-2 .head .child-2 .usuario-txt {
          font-family: metropolis-m; }
        .news .news-card-2 .head .child-2 .date-text {
          margin-left: 20px; }
        .news .news-card-2 .head .child-2 p {
          font-family: metropolis-l;
          text-align: justify;
          font-size: 12px; }
        .news .news-card-2 .head .child-2 .btn-hv {
          position: absolute;
          bottom: 0; }

.embed-twitter {
  overflow: hidden; }

.estadisticas-regulatorias {
  position: relative;
  margin-bottom: 60px; }
  .estadisticas-regulatorias .title {
    display: flex;
    flex-direction: column;
    border-left: solid 12px #FFA301;
    padding-left: 15px;
    margin-top: 30px; }
    .estadisticas-regulatorias .title h2 {
      font-size: 45px;
      font-family: metropolis-l; }
    .estadisticas-regulatorias .title .big-version {
      font-size: 70px;
      font-family: metropolis-b;
      color: #FFA301;
      margin-top: -25px; }
  .estadisticas-regulatorias .news-card {
    margin-top: 30px;
    position: relative; }
    .estadisticas-regulatorias .news-card img {
      width: 100%; }
    .estadisticas-regulatorias .news-card p {
      margin-top: 30px; }
    .estadisticas-regulatorias .news-card .btn {
      margin-top: 30px;
      float: right; }

/*# sourceMappingURL=style.css.map */
