@import "colors";
@import "font";

// resoluciones locales

.header-up {
  @media screen and (max-width: 991px) {
    padding: 30px 100px;
    .logo-header {
      display: block;
      margin: 15px auto !important;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .state-look {
      align-items: center;
    }
  }
  @media screen and (max-width: 520px) {
    padding: 30px 25px;
    .state-look .nav-search ul {
      li {
        padding: 0 14px !important;
        a {
          font-size: 13px;
        }
      }
    }
  }
}
.navbar {
  ul {
    li {
      @media screen and (max-width: 1340px) {
        margin: 0 15px;
        transition: 0.5s all ease-in-out;
      }
      @media screen and (max-width: 1230px) {
        margin: 0 10px;
        font-size: 13px;
        transition: 0.5s all ease-in-out;
      }
    }
  }
  button {
    margin-right: 15px;
  }
}

.carousel-item {
  @media screen and (max-width: 991px) {
    min-height: 500px;
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
    }
  }
  @media screen and (max-width: 768px) {
    min-height: 380px;
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
    }
  }
}
.carousel-caption {
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 56px;
    }
    top: 30px;
  }
  @media screen and (max-width: 600px) {
    margin-left: 40px !important;
    h2 {
      font-size: 48px;
    }
    top: 20px;
    p {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 425px) {
    top: 20px;
    margin-left: 20px !important;
    h2 {
      font-size: 30px !important;
    }
    .btn {
      height: 39px;
      font-size: 15px;
    }
    p {
      font-size: 14px;
    }
  }
}

.vineta {
  .box-arrow {
    @media screen and (max-width: 425px) {
      width: 269px !important;
      h5 {
        font-size: 11px !important;
        margin-right: 0;
      }
    }
  }
}

.news-section {
  @media screen and (max-width: 1680px) {
    .head {
      img {
        width: 200px;
        transition: 0.5s;
      }
    }
  }
  @media screen and (max-width: 1500px) {
    .head {
      img {
        width: 150px;
      }
    }
  }
  @media screen and (max-width: 1325px) {
    .head {
      flex-direction: column !important;
      flex-flow: column !important;
      flex: 1 1 auto;
      min-height: 450px;
      img {
        width: 100%;
        max-width: 100% !important;
        margin-bottom: 10px;
      }
      .child-2 {
        min-height: 150px;
        height: auto;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .news-card-2 {
      display: none;
    }
  }
}

.news {
  .news-card {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .news-card-2 {
    @media screen and (max-width: 1540px) {
      .head {
        height: 310px;
        .child-1 {
          img {
            max-width: 288px;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width: 1408px) {
              width: 200px;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      .head {
        height: auto;
        flex-direction: column;
        flex-flow: column wrap;
        .child-1 {
          img {
            max-width: 100%;
            width: 100% !important;
          }
        }
        .child-2 {
          margin-top: 15px;
          padding-left: 0px;
          height: 230px;
        }
      }
    }
    @media screen and (max-width: 991px) {
      flex-direction: row;
      flex-flow: row wrap;
      flex: 1 1 auto;
      float: left;
      width: 45%;
      margin-right: 25px;
      margin-bottom: 15px;
      .btn-hv {
        position: relative !important;
        .btn {
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 620px) {
      float: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 991px) {
    .btn-for-top {
      display: none;
    }
    .btn-for-bottom {
      display: block;
      width: 100%;
      background-color: black;
      color: $yellowCnc;
      &::before {
        background-color: $yellowCnc !important;
        color: black;
      }
      &:hover {
        color: black !important;
      }
    }
    h1 {
      font-size: 26px;
    }
    position: relative;
    .col-resp {
      margin-left: 22px;
      @media screen and (max-width: 620px) {
        margin-left: 0px;
      }
    }
    .embed-twiiter {
      display: none;
    }
    .title-button {
      padding-bottom: 15px;
      flex-direction: column;
      .btn {
        width: 100%;
      }
    }
  }
}
.estadisticas-regulatorias {
  @media screen and (max-width: 991px) {
    .title {
      h2 {
        font-size: 20px;
      }
      .big-version {
        font-size: 26px;
        margin-top: 0px;
      }
    }
    .btn {
      width: 100% !important;
    }
  }
}

.news-section {
  .card-info {
    @media screen and (max-width: 1100px) {
      height: auto;

      &::before {
        height: 100vh;
      }
    }
    @media screen and (max-width: 991px) {
      &:hover {
        transform: scale(1) !important;
      }
    }
    @media screen and (max-width: 768px) {
      flex-flow: column;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      .title-button {
        position: absolute;
        bottom: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      .text-field {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 500px) {
      .title-button {
        .btn {
          width: 300px;
          margin-left: 0;
        }
      }
    }
    @media screen and (max-width: 400px) {
      .title-button {
        .btn {
          width: 250px;
        }
      }
    }
    @media screen and (max-width: 350px) {
      .title-button {
        .btn {
          width: 199px;
        }
      }
      h1 {
        font-size: 22px;
      }
    }
  }
}

.values {
  @media screen and (max-width: 991px) {
    .card-info,
    .card-info-2 {
      margin-bottom: 30px;
      padding: 15px;
    }
  }
}

.about-cnc {
  @media screen and (max-width: 1300px) {
    .news-card-2 {
      height: 250px;
      .head {
        .child-1 {
          img {
            height: 250px;
            object-fit: cover;
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 0;
    .title,
    .news-card-2 {
      display: none;
    }
  }
  @media screen and (max-width: 991px) {
    .left-side {
      img {
        display: block;
        margin: 0 auto;
      }
      p {
        text-align: justify;
      }
      .btn {
        width: 100%;
      }
    }
  }
}
.parallax {
  @media screen and (max-width: 1300px) {
    .all-side {
      .sides {
        padding: 30px;
        width: 50%;
        h4 {
          font-size: 34px;
        }
        h3 {
          font-size: 56px;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.organizaciones {
  @media screen and (max-width: 1500px) {
    .owl-prev,
    .owl-next {
      span {
        top: 23px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .owl-prev,
    .owl-next {
      span {
        top: 6px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .container {
      width: 86% !important;
      img {
        height: 100%;
      }
    }
  }
  @media screen and (max-width: 890px) {
    .owl-prev,
    .owl-next {
      span {
        top: -4px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .owl-prev,
    .owl-next {
      span {
        top: -16px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .owl-prev,
    .owl-next {
      span {
        top: 45px;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .owl-prev,
    .owl-next {
      span {
        top: 30px;
      }
    }
  }
  @media screen and (max-width: 426px) {
    .owl-prev,
    .owl-next {
      span {
        top: 18px;
      }
    }
  }
  @media screen and (max-width: 320px) {
    .owl-prev,
    .owl-next {
      span {
        top: -12px;
      }
    }
  }
}

.footer {
  @media screen and (max-width: 1100px) {
    .item {
      margin-bottom: 60px;
      img {
        margin-bottom: 20px;
      }
    }
    h5 {
      font-size: 16px !important;
      margin: 0 5px;
    }
  }
  @media screen and (max-width: 500px) {
    .item {
      margin-bottom: 20px;
    }
    .item-4 {
      width: 100%;
      text-align: center;
      margin-top: 40px;
      h5 {
        color: $yellowCnc;
      }
      .btn {
        width: 100%;
        border: none;
        border-radius: 0;
      }
    }
    .item-5 {
      width: 100%;
      align-items: center;
      .social {
        img {
          margin: 0 5px;
        }
      }
    }
  }
}

#app {
  @media screen and (max-width: 991px) {
    .active-nav {
      opacity: 1 !important;
      z-index: 9999;
      transition: 0.1s all ease-in-out;
      ul {
        margin-left: 0px !important;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.definition {
  @media screen and (max-width: 1200px) {
    .info-img {
      flex-direction: column;
      flex-flow: column;
      img {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .info-img {
      img {
        display: none;
      }
    }
    .card {
      display: none;
    }
  }
}

.slide-noticas {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .lista-slider {
    img {
      width: auto;
      height: auto;
    }
  }
  @media screen and (max-width: 991px) {
    .lista-slider {
      img {
        width: auto !important ;
        height: auto !important;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .carousel-item .carousel-caption h2 {
      font-size: 36px !important;
    }
  }
}

.posts {
  @media screen and (max-width: 991px) {
    .item {
      margin-bottom: 30px;
    }
  }
}

.noticias-4 {
  @media screen and (max-width: 1200px) {
    .sides {
      .n-side {
        p {
          font-size: 25px;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .sides {
      flex-wrap: wrap;
      
    }
    .n-side {
      width: 50%;
      min-height: 604px !important;
      &:nth-last-child(-n+2) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .n-side {
      width: 100%;
    }
  }
}

.organizaciones{
  @media screen and (max-width: 991px){
    margin-top: 100px;
  }
}

.busqueda {
  @media screen and (max-width: 500px){
    .tabla-filtro nav li{
       height: 30px;
      width: 30px;
    }
    .tabla-filtro nav li a{
      height: 30px;
      width: 30px;
      padding-top: 9px;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 350px){
    .tabla-filtro nav li{
      margin: 6px;
    }
  }
}
.consulta-publica-down{
  @media screen and (max-width: 991px){
    .links{
      display:none;
    }
  }
}

.tabla-decreto {
   @media screen and (max-width: 500px){
    nav li{
       height: 30px;
      width: 30px;
    }
     nav li a{
      height: 30px;
      width: 30px;
      padding-top: 9px;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 350px){
    nav li{
      margin: 6px;
    }
  }

}

