@import 'colors';
@import 'font';
///estilos generales

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $body;
    font-family: $ml;
}
.active-txt{
    transform: scale(1.1) !important;
    z-index: 999 !important;
    background-color: $yellowCnc !important;
    border-left: solid 8px black !important;
    -webkit-box-shadow: 11px 13px 21px -1px rgba(0,0,0,0.41) !important;
    -moz-box-shadow: 11px 13px 21px -1px rgba(0,0,0,0.41) !important;
    box-shadow: 11px 13px 21px -1px rgba(0,0,0,0.41) !important;
    .btn{
        background: white !important;
    }
    &:hover{
        width: 100% !important;
    }
}
.title{
        display: flex;
        flex-direction: column;
        border-left: solid 12px $yellowCnc;
        padding-left: 15px;
        margin-top: 30px;
        h2{
            font-size: 45px;
            font-family: $ml;
        }
        .big-version{
            font-size: 70px;
            font-family: $mb;
            color: $yellowCnc;
            margin-top: -25px;
        }
    }
// BTN GUEST
.btn-guest{
    background-color: $yellowCnc;
    border: none;
    border-radius: 0;
    font-weight: bold;
    color: black;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: -2;
      left: 0;
      right: 100%;
      bottom: 0;
      background: black !important;
      height: 40px;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover:before {
      right: 0;
}
&:hover{
color: $yellowCnc !important;
}
}



.header-up{
    padding:10px 180px;
    .logo-header{
        margin-top: 45px;
    }
    .state-look{
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        .escudo{
            margin-bottom: 15px;
            img{
                width: 270px;
            }
        }
        .search-page{
            width: 280px;
            position: relative;
            input{
                border-radius: 28px !important;
                width: 100%;
            }
            .input-group-append{
                position: absolute;
                right: 0;
                height:98%;
              
                .btn{
                    border-radius: 28px;
                    border: none;
                    background-color: $yellowCnc;
                    height: 100%;
                    color: white;
                }
            }
        }
        .nav-search{
            margin-right: -11px;
            transition: 0.2s;
            ul{
                li{
                    display: inline-block;
                    border-right: solid 1px $colorBorder; 
                    padding: 0 14px;
                    a{
                        color: $colorBorder;
                        text-decoration: none;
                        font-weight: $mm;
                        &:hover{
                            color: black
                        }
                    }
                }
                .border-none{
                    border: none;
                }
            }
        }
    }    
}


.navbar{
    background-color: $yellowCnc;
    width: 100%;
    padding: 0px;
    ul{
        margin: 0 auto;
        margin-bottom: -2px;
        li{
            margin: 0 20px;
            border-bottom: 2px solid  transparent;
            // display: inline-block;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            overflow: hidden;
            z-index: 9;
            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              left: 0;
              right: 100%;
              bottom: 0;
              background: white !important;
              height: 4px;
              -webkit-transition-property: right;
              transition-property: right;
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
              -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
            }
            &:hover:before {
              right: 0;
            }
            a{
                color: black !important;
                transition: 0.2s;
                font-family: $ml;
                padding-bottom: 7px;
                &:hover{
                    color: white !important;
                }
            }
        }
        .active{
            border-bottom: solid 3px white;

        }
        
    }
}

.carousel-item{
    height: 600px !important;
    .carousel-caption {
        h2{
            font-family: $mb;
            font-size: 80px;
        }
        position: absolute;
        top: 80px;
        left: 0;
        max-width: 700px;
        margin-left: 75px;
        text-align: left;
        .btn{
            background-color: $yellowCnc;
            border: none;
            border-radius: 0;
            height: 50px;
            font-family: $mb;
            font-size: 20px;
            margin-bottom: 16px;
            padding: 5px 15PX;
            &:hover{
                background-color: white;
                color: $yellowCnc;
                transform: scale(1.1);
                transition: 0.2s;
            }
        }
        .buttons-slider{
            position: absolute;
            bottom: 50px;
            transition: 0.3s;
            .btn{
                color: black;
                font-weight: 600;
                padding: 5px 15PX;
                &:hover{
                    background-color: black;
                    color: $yellowCnc;
                }
            }
        }
    }
}
.slider-control-cont {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: $yellowCnc;
    transition: background-color 0.2s ease;
}
.slider-control-cont:hover{
    background-color:black;
}
.slider-control-cont .slider-control i{
    background-color: $yellowCnc;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.2s ease;
}
.slider-control-cont .slider-control i:hover{
    background-color:white;
    color:$yellowCnc;
}
.slider-indicator-cont {
    position: absolute;
    top: 40%;
    z-index: 1000;
    right: 14px;
    ul{
        li{
            list-style-type: none;
        }
    }
}
.slider-indicator-cont a.slider-indicator{
    color: $colorBorder;
}
.slider-indicator-cont a.slider-indicator:hover{
    color: $yellowCnc !important;
}
.slider-indicator-cont a.slider-indicator.active {
    color: $yellowCnc;
}

.container{
    max-width: 94% !important;
}

.vineta{
    background-color: $yellowCnc;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .box-arrow{
        display: flex;
         flex-direction: row;
         align-items: center;
        background-color: white;
        height: 50px;
        padding-right: 20px;
        width: 500px;
        transition: 0.6s;
        margin-left: -20px;
        a{
            margin-top: 7px;
            text-decoration: none;
            h5{
                margin-right: 15px;
                transition: 0.3s;
                font-family: $mb;
                padding-top: 6px;
                font-size: 16px;
                color: $yellowCnc;
                &:hover{
                    margin-right:80px;
                }
            } 
        }   
        &:hover{
            width: 550px;
        }
    }
    .arrow-div{
        width: 30px;
        height: 50px;
        border-left: solid 30px white;
        border-bottom: solid 30px transparent;
        border-top: solid 30px transparent;
        margin-left: 0px;
        position: relative;
        z-index: 9;
    }
    h5{
        margin-left: 50px;
    }
}

.news{
    padding: 50px;
    .title-button{
        display: flex;
        flex-direction: row;
        flex-flow: row;
       justify-content: space-between;
       border-bottom: solid 2px $yellowCnc;
       margin-bottom: 30px;
       .btn{
           width: 170px;
           height: 40px;
           border-radius: 0;
           border: none;
           background: $yellowCnc;
           color: black;
           font-weight: bold;
           transition: 0.3s;
           &:hover{
               background-color: black;
               color: $yellowCnc;
               transform: scale(1.1);
           }
       }
       .title{
           font-family: $mb;
       }
    }
    .news-card{
        img{
            width: 100%;
        }
        h3{
            margin-top: 15px;
            color: $yellowCnc;
        }
        .usuario-txt{
            font-family: $mm;
        }.date-text{
            margin-left: 20px;
        }
        p{
            font-family: $ml;
            text-align: justify;
        }
    }
    .news-card-2{
        margin-bottom: 30px;
       .head{
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        word-wrap: break-word;
        flex:1 12 auto;
        img{
            max-width: 334px;
        }
        .child-2{
            padding-left: 15px;
            position: relative;
            h3{
                font-size: 21px;
            }
            .usuario-txt{
                font-family: $mm;
            }.date-text{
                margin-left: 20px;
            }
            p{

                font-family: $ml;
                text-align: justify;
                font-size: 12px;
            }
            .btn-hv{
                position: absolute;
                bottom: 0;
            }
            
             }      
       }
    }
    
}
.embed-twitter{
    overflow: hidden;
    a{
        max-width: 100%;
    }
}
.video{
    
}

.estadisticas-regulatorias{
    position: relative;
    margin-bottom: 60px;
    .title{
        display: flex;
        flex-direction: column;
        border-left: solid 12px $yellowCnc;
        padding-left: 15px;
        margin-top: 30px;
        h2{
            font-size: 45px;
            font-family: $ml;
        }
        .big-version{
            font-size: 70px;
            font-family: $mb;
            color: $yellowCnc;
            margin-top: -25px;
        }
    }
    .news-card{
         margin-top: 30px;
         position: relative;
        img{
            width: 100%;
        }
        p{
            margin-top: 30px;
        }
        .btn{
            margin-top: 30px;
            float: right;
        }
    }
    
}

.news-section{
    padding-top: 60px;
    h3{
        font-family: $mb;
        margin-bottom: 30px;
    }
    .card-info{
        display: flex;
         flex-direction: row;
        flex-flow: row nowrap;
        background-color: white;
        padding: 30px;
        border-left: solid 8px $yellowCnc;
        align-items: center;
        height: 270px;
        margin-bottom: 40px;
        cursor: pointer;
        -webkit-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.16);
        -moz-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.16);
        box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.16);
        h1{
            font-family: $mb;
        }
        .title-button{
            .btn{
                width: 100%;
            }
        }
        .text-field{
            max-width: 700px;
            word-wrap: break-word;
            margin-left: 25px;
        }
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
        &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: $yellowCnc !important;
        height: 270px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover:before{
            right: 0;
        }
        &:hover{
        // transform: scale(1.1) !important;
        // transform: scaleX(1.1) !important;
        width: 105%;
        border-left: solid 8px black;
        -webkit-box-shadow: 11px 13px 21px -1px rgba(0,0,0,0.41);
        -moz-box-shadow: 11px 13px 21px -1px rgba(0,0,0,0.41);
        box-shadow: 11px 13px 21px -1px rgba(0,0,0,0.41);
        transition: all 0.5s !important;
        z-index: 999;
        .btn{
            color:$yellowCnc;
            background-color: white;
        }
        }
    }
    .news-card-2{
        margin-bottom: 30px;
        border-bottom: solid 1px $border-botton;
        padding-bottom: 30px;
       .head{
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        word-wrap: break-word;
        flex:1 12 auto;
        img{
            max-width: 334px;
        }
        .child-2{
            padding-left: 15px;
            position: relative;
            h3{
                font-size: 18px;
                font-family: $mm;
            }
            .usuario-txt{
                font-family: $mm;
            }.date-text{
                margin-left: 20px;
            }
            p{

                font-family: $ml;
                text-align: justify;
                font-size: 12px;
            }
            .btn-hv{
                position: absolute;
                bottom: 0;
            }
            
             }      
       }
    }
}
.values{
    background-color: $yellowCnc;
    padding-top: 30px;
    padding-bottom: 30px;
    .title-button{
        display: flex;
        flex-direction: row;
        flex-flow: row;
       justify-content: space-between;
       border-bottom: solid 2px white;
       margin-bottom: 30px;
       .btn{
           width: 170px;
           height: 40px;
           border-radius: 0;
           border: none;
           background: white !important;
           color: $yellowCnc;
           font-weight: bold;
           transition: 0.3s;
           font-family: $mm;
           &:hover{
               background-color: black;
               color: $yellowCnc;
               transform: scale(1.1);
           }
       }
       .title{
           font-family: $mb;
       }
    }
    .card-info{
        background-color: white;
        padding: 25px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: color 1000ms;
        transition: color 1000ms;
        &:before{
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: black;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 0.3 ease-out;
          transition: 0.3s ease-out;
        }
        &:hover:before{
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
          p{
            transition: 0.1s;
        }
        }
        &:hover{
            color: white;
            h1{
                color: $yellowCnc;
            }
            .divider{
                background-color: $yellowCnc;
            }
        }
        h1{
            font-family: $mb;
            align-self: flex-start;
        }
        .divider{
            height: 1px;
            background-color: black;
            width: 100%;
            display: block;
            margin: 5px auto;
            margin-bottom: 20px;
        }
        
    }
    .card-info-2{
        background-color: transparent;
        .title-box{
            align-self: flex-start;
            .top{
                font-family: $ml;
            }
            .bottom{
                font-family: $mm;
                margin-left: 60px;
                margin-top: -10px;
            }
            h1{
                font-size: 84px;
                color: white;
                font-family: $mb;
            }
        }
    }
}

.about-cnc{
    padding-bottom: 60px;
    .container{
        margin-top: 80px;
        .title{
            font-family: $mb;
            font-size: 35px;
        }
        img{
            // width: 350px;
            // height: 350px;
            // object-fit: cover;
        }
        .btn-alone{
            width: 386px;
            height: 67px;
            font-family: $mb;
            color: white;
            &::before{
                height: 67px;
            }
        }
        .news-card-2{
            margin-bottom: 30px;
           .head{
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            word-wrap: break-word;
            flex:1 12 auto;
            img{
                width: 100%;
            }
            .child-2{
                padding-left: 15px;
                position: relative;
                h3{
                    font-size: 21px;
                }
                .usuario-txt{
                    font-family: $mm;
                }.date-text{
                    margin-left: 20px;
                }
                p{
    
                    font-family: $ml;
                    text-align: justify;
                    font-size: 12px;
                }
                .btn-hv{
                    position: absolute;
                    bottom: 0;
                }
                
                 }      
           }
        }
    }
}

.organizaciones{
    background-color: $yellowCnc;
    padding: 30px;
    .title-box{
        width: 100%;
        margin-bottom: 30px;
        border-bottom: solid 2px white;
        h2{
            font-family: $mb;
            color: white;
        }
    }
    .owl-prev{
        span{
            left: -73px;
            position: absolute;
            /* left: 0; */
            font-size: 80px;
            width: 88px;
            top: 50px;  
        }
    }
    .owl-next{
        span{
            right: -73px;
            position: absolute;
            /* left: 0; */
            font-size: 80px;
            width: 88px;
            top: 50px;  
        }
    }
}

.footer{
    background-color: $footer;
    padding-top: 90px;
    padding-bottom: 30px;
    color: white;
    .content{
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        flex: 1 1 auto;
        justify-content: space-between;
        .item{
            display: flex;
            flex-direction: column;
            color:white;
            h5{
                font-family: $ml;
                font-size: 21px;
            }
            a{
                font-size: 14px;
                color: white;
                text-decoration: none;
                margin-top: 15px;
                text-transform: capitalize !important;
                
            }
        }
        .item-5{
            .social{
                display: flex;
                flex-flow: row wrap;
                flex-direction: row !important;
                justify-content: space-between;
                margin-top: 30px;
            }

            
        }
    }
    .divider{
        width: 100%;
        height: 1px;
        background-color: white;
        margin-top: 60px;
    }
    .btn{
        max: 80px;
        border-radius: 30px;
        font-size: 12px;
        background-color: $yellowCnc;
        color: black;
        align-self: flex-start;
        margin-top: 30px;
    }
    .sub-footer{
        margin-top: 60px;
        img{
            margin-bottom: 30px;
        }
        a{
            margin-top: -5px;
            color: $yellowCnc;
            text-decoration: none;
        }
    }
}
.copy{
    background-color: $yellowCnc;
    text-align: center;
    .txt{
        p{
            margin-bottom: 0;
        }
    }
}

.parallax{
   .all-side{
    display: flex;
    flex-direction: row;
    flex-flow: row ;
    .sides{
        padding: 75px;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        h4{
            font-size: 41px;
            font-family: $ml;
            color: white;
        }
        h3{
            font-family: $mb;
            font-size: 71px;
            color: white;
        }
        p{
            font-size: 20px;
            font-family: $ml;
            color: white;
        }
    }
    .left-side{
      background-image: url(../assets/img/parallax-1.jpg);
    }
    .right-side{
        background-image: url(../assets/img/paralllax-2.jpg);
      }
   }
}

.definition{
    position: relative;
    min-height: 792px;
   
    .title{
        padding-top: 22px;
    }
    p{
        font-size: 18px;
    }
    .info-img{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        .txt{
            background-color: $yellowCnc;
            padding: 44px;
            min-height: 213px;

            p{
                color: white;
                font-family: $mm;
            }
        }
    }
    .card{
        padding: 35px;
        .tag{
            background-color: $yellowCnc;
            padding: 7px 14px;
            position: absolute;
            top: 35px;
            right: 35px;
        }
        img{
            width: 100%;
            height: 318px;
            object-fit: cover;
        }
        .card-body{
            padding-left: 0;
            padding-right: 0;
            text-align: justify;
        }
    }
}
.tag-caption{
    position: absolute;
    top: 210px;
    color: white;
    font-size: 12px;
    padding: 15px;
}

.slide-noticas{
    .carousel-item{
        .carousel-caption {
            top: initial;
            bottom: 35px ;
            h2{
                font-size: 50px !important;
            }
            ul{
                li{
                    display: inline-block;
                    margin-right: 20px;
                    list-style-type: none;
                }
            }
        }
    }
}


.posts{
    margin-top: 40px;
    .container {
        .big-version{
            color: black;
        }
        .row{
            margin-top: 40px;
        }
        .item{
            position: relative;
            img{
                width: 100%;
            }
            .title{
                position: absolute;
                bottom: 10px;
                left: 25px;
                color: white;
                font-family: $mb;
                width: 226px;
                border-left: none;
            }
            a{
                background-color: $yellowCnc;
                color: white;
                padding: 7px 18px;
                position:  absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.noticias-4{
    margin-bottom: 30px;
    .sides{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        flex: 1 1 auto;
        width: 100%;
        .n-side{
            position: relative;
            min-height: 795px;
            flex: 1 1 auto;
            overflow: hidden;
            .content{
                padding-left: 35px;
                margin-top: 60%;
                position: relative;
                z-index: 2;
            }
            .btn{
               margin-bottom: 50px;
            }
            p{
                color: white;
                font-size: 30px;
                width: 253px
            };
            ul{
                margin-top: 110px;
                li{
                    display: inline-block;
                    list-style-type: none;
                    color: white;
                    margin-right: 15px;
                }
            }
            .bg{
                width: 100%;
                height: 108%;
                object-fit: cover;
                position: absolute;
                top: 0;
                overflow: hidden;
                transition: 0.5s all ease-in-out;
                &:hover{
                    transform: scale(1.1) !important;
                    transition: 0.5s all ease-in-out;
                }
            }
        }
    }
}
.vineta-noticias{
    background-color: transparent;
    .box-arrow{
        background-color: $yellowCnc;
        color: white;
       a{
           h5{
               color: white;
           }
       }
    }
    .arrow-div{
        border-left: solid 30px $yellowCnc;
        border-bottom: solid 30px transparent;
        border-top: solid 30px transparent;
    }
}

.enlaces-anteriores{
    margin-bottom: 80px;
    .left-side{
        .row{
            margin-bottom: 40px;
            border-bottom: solid 1px $yellowCnc;
            padding-bottom: 15px;
        }
        .row:nth-child(2){
            border-bottom: none;
        }
        img{
            width: 100%;
        }
        .txt{
            height: auto;
            h3{
                font-family: $mb;
            }
            .description{
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .description{
                color: $yellowCnc;
            }
        }
        
    }
    .nav-tabs{
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        background-color: white;
        a{
            width: 100%;
            text-align: center;
            padding: 7px;
            color: $yellowCnc;
            border: solid 1px $colorBorder;
            border-radius: 0;
        }
        .active{
            border-bottom: solid 3px $yellowCnc;
        }
    }
    .tab-content{
        background-color: white;
        padding: 25px;
        .row{
            margin-bottom: 30px;
        }
        .left-side{
            max-width: 500px;
        }
        h3{
            max-width: 400px;
            font-family: $mb;
        }
        a{
            float: right;
            color: $yellowCnc;
        }
        img{
            width: 100%;
        }
    }
}

.regulatorias-original-section{
    margin-top: 85px;
}

.busqueda{
    h3{
        font-size: 35px;
        font-family: $mb;
    }
    .tabla-filtro{
        min-height: 828px;
        background-color: white;
        margin-bottom: 60px;
        padding: 30px;
        select{
            background-color: transparent;
            background-image: none;
            padding-bottom: 0;
            option{
            font-weight: bold;
        }
               &::before{
               box-shadow: none !important;
           }
        }
        .input-group-append{
            position: absolute;
            right: 0;
            z-index:1;
            height: 100%;
            label{
                background-color: $yellowCnc;
                color: white;
                height: 100%;
            }
        }
        .buscador{
            width: 435px;
            float: right;
            .input-group{
                position: relative;
                height: 100%;
                .input-group-prepend{
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    height: 100%;
                    .input-group-text{
                        background-color: $yellowCnc;
                        color: white;
                    }
                }
            }
            input{
                border-radius: 0px;
                border: none;
                webkit-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                -moz-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
            }
        }
        table{
            margin-top: 85px;
            border: none;
            tbody{
                width: 100%;
                .free-td{
                    float: right;
                    margin-right: 20px;
                    img{
                        margin-right: 20px;
                    }
                }
            }
        }
        nav{
            float: right;
            margin-top: 40px;
            li{
                margin: 10px;
                height: 50px;
                width: 50px;
                text-align: center;
                a{
                    border-radius: 300px !important;
                    background-color: $yellowCnc;
                    color: white;
                    height: 50px;
                     width: 50px;
                     border: none;
                     font-size: 20px;
                     padding-top: 14px;
                     webkit-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                -moz-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                }
                .active{
                    background-color: white;
                    color: $yellowCnc;
                }
            }
        }
    }
}


.filtros-decreto{
    display: block;
    margin: 0 auto;
     max-width: 1470px;
     .row{
         margin-bottom: 30px;
     }
            .buscador{
                height: 74px;
            .input-group{
                position: relative;
                height: 100%;
                .input-group-prepend{
                    position: absolute;
                    z-index: 5;
                    right: 0;
                    height: 100%;
                    width: 75px;
                    .input-group-text{
                        width: 100%;
                        font-size: 34px;
                        text-align: center;
                        background-color: $yellowCnc;
                        color: white;
                    }
                }
            }
            input{
                border-radius: 0px;
                border: none;
                height: 100%;
                 width: 100%;
                 font-size: 18px;
                webkit-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                -moz-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
            }
        }
        .dropdown{
            margin-top: 30px;
            height: 74px;
           .btn{
                width: 100%;
                height: 100%;
                border-radius: 0;
                background-color: white;
                border:none;
                border-left: solid 5px $yellowCnc;
                color: $colorBorder;
                text-align: left !important;
                font-size: 18px;
                &:focus{
                    box-shadow: none;
                }
           }
           .dropdown-menu{
               width: 100%;
               transition: 0.5s all ease-in-out;
           }
        }
}

.tabla-decreto{
    max-width: 1470px;
    min-height: 650px;
    display: block;
     margin: 60px auto 100px auto;
    .table{
        width: 100%;
        border-bottom: solid 15px $yellowCnc;
        background-color: white;
        thead{
            background-color: $yellowCnc;
            min-height: 144px;
            tr{
                th{
                padding-top: 40px !important;
                padding-bottom: 40px !important;
                border-right: solid 1px white;
                }
            }
        }
       
        
    }
    nav{
            float: right;
            margin-top: 40px;
            li{
                margin: 10px;
                height: 50px;
                width: 50px;
                text-align: center;
                a{
                    border-radius: 300px !important;
                    background-color: $yellowCnc;
                    color: white;
                     height: 50px;
                     width: 50px;
                     border: none;
                     font-size: 20px;
                     padding-top: 14px;
                     webkit-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                    -moz-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                    box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
                }
                .active{
                    background-color: white;
                    color: $yellowCnc;
                }
            }
        }
}

.consulta-publica-down{
    p{
        text-align: justify;
        font-size: 20px;
    }
    .links{
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex: 1 1 auto;
        background-color: white;
        min-height: 280px;
        margin-bottom: 80px;
        .regulaciones{
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .tamites{
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .title{
             border-left: none;
        }
        h1{
            color: black;
           
        }
        .btn{
            width: 100%;
            font-size: 30px;
            margin-top: 20px;
            font-family: $ml;
            &::before{

                height: 100%;
            }
        }
    }
}
.info-book{
    max-width: 1470px;
    margin: 40px auto;
    background-color: white;
     webkit-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.34);
    margin-bottom: 100px;
    .title{
        background-color: $yellowCnc;
        height: auto;
        padding: 15px;
        h1{
            color: white;
            font-size: 35px;
            margin-top: 0;
            max-width: 230px;
            font-family: $mm;
        }
    }
    .enlaces{
        padding: 40px;
        .content{
            position: relative;
            min-height: 250px;
            text-align: justify;
        }
        .btn{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-top: 40px;
        }
    }
}



@import 'responsive';